---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2tfdGVzdF9iTTZ2OGFsSzBTVzZCSzAwd2xyNnpJcUM6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ch_15ponjAV9fXgRPvYbvqBzGgX",
              "object": "charge",
              "amount": 1100,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": "txn_15ponjAV9fXgRPvYnTcrRmj5",
              "captured": true,
              "created": 1428621071,
              "currency": "eur",
              "customer": null,
              "description": "wweeeaa",
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "order": null,
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_15ponjAV9fXgRPvYbvqBzGgX/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_15poniAV9fXgRPvYE1GGasgz",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": null,
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2016,
                "fingerprint": "WZ7sNWFE4eLUgsC8",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "succeeded"
            },
            {
              "id": "ch_15poLdAV9fXgRPvYHmjSJsvm",
              "object": "charge",
              "amount": 555500,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": "txn_15poLdAV9fXgRPvYw9TFXnj0",
              "captured": true,
              "created": 1428619329,
              "currency": "aed",
              "customer": null,
              "description": "qea[...]
- request:
    method: post
    uri: http://jsonplaceholder.typicode.com/posts?body=is%20a%20major%20cinaphile&title=Michael%20Bolton
    body:
      encoding: UTF-8
      string: title=Michael%20Bolton&body=is%20a%20major%20cinaphile
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4e-HESwjKlJYVe/h5z+UMmNlw"
    body:
      encoding: UTF-8
      string: |-
        {
          "title": "Michael Bolton",
          "body": "is a major cinaphile",
          "id": 101
        }
  recorded_at: Fri, 07 Oct 2016 05:29:58 GMT
- request:
    method: put
    uri: http://jsonplaceholder.typicode.com/posts/1?userId=12
    body:
      encoding: UTF-8
      string: userId=12
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d-V2AxA+UTJCT/Ru7qfPCiqA"
    body:
      encoding: UTF-8
      string: |-
        {
          "userId": 12,
          "id": 1
        }
  recorded_at: Fri, 07 Oct 2016 05:29:59 GMT
recorded_with: VCR 3.0.3
